$rich-black: #020202;
$anti-flash: #f1f1f1f1;
$sonic-silver: #797979;
$onyx: #383838;
$black: #000000;
$white: #ffffff;
$google-blue: #9bbff4;

//? Scrollbar customization for Webkit browsers (Chrome, Safari)
::-webkit-scrollbar {
  width: 7px; /* width of the scrollbar */
}
::-webkit-scrollbar-track {
  background-color: $rich-black; /* bg color of the scrollbar track */
}
::-webkit-scrollbar-thumb {
  background-color: #1d1d1d; /* bg color of the scrollbar thumb (scroller) */
  border-radius: 10px; /* border radius for the thumb */
}

html {
  /* The default font size in most browsers is 16 pixels.
  This means the base font size becomes 10 pixels (62.5% of 16 pixels). */
  font-family: "Geist";
}
body {
  background-color: $rich-black;
  color: white;
  // font-size: 1.5rem;
}
#root {
  margin: 0 auto;
  text-align: center;
}
// form error message style
.error {
  font-weight: 500;
  color: rgb(255, 41, 41);
  background-color: rgb(36, 0, 0);
  border: 1px solid hsl(0, 100%, 50%, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  pointer-events: none;
}
// toast-message
.toast-message {
  background: black;
  color: white;
  font-size: 14px;
  // width: 34vw;
  // padding: 30px 20px;
}

// main NavBar


// profile page, navigation
.profile-nav a {
  text-align: left;
  padding: 10px 10px 10px 14px;
  border-radius: 3px;

  &:hover {
    background-color: rgb(35, 35, 35);
  }

  &.active {
    position: relative;
    overflow: hidden;
    background-color: rgb(35, 35, 35);

    &::before {
      content: "";
      position: absolute;
      width: .4rem;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $google-blue;
    }
  }
}
